Connected Services/GatewayServiceReference/Gateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Gateway" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://blockchain.carbonfx.io/Services/Gateway.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://blockchain.carbonfx.io/Services/Gateway.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGateway_Push_InputMessage">
    <wsdl:part name="parameters" element="tns:Push" />
  </wsdl:message>
  <wsdl:message name="IGateway_Push_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushResponse" />
  </wsdl:message>
  <wsdl:message name="IGateway_Pull_InputMessage">
    <wsdl:part name="parameters" element="tns:Pull" />
  </wsdl:message>
  <wsdl:message name="IGateway_Pull_OutputMessage">
    <wsdl:part name="parameters" element="tns:PullResponse" />
  </wsdl:message>
  <wsdl:portType name="IGateway">
    <wsdl:operation name="Push">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateway/Push" message="tns:IGateway_Push_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGateway/PushResponse" message="tns:IGateway_Push_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pull">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateway/Pull" message="tns:IGateway_Pull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGateway/PullResponse" message="tns:IGateway_Pull_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGateway" type="tns:IGateway">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Push">
      <soap:operation soapAction="http://tempuri.org/IGateway/Push" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pull">
      <soap:operation soapAction="http://tempuri.org/IGateway/Pull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Gateway">
    <wsdl:port name="BasicHttpBinding_IGateway" binding="tns:BasicHttpBinding_IGateway">
      <soap:address location="http://blockchain.carbonfx.io/Services/Gateway.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>